<launch>

  <param name="robot_description" textfile="$(find ros_control_minimal_example)/urdf/my_robot.urdf" />

  <group ns="my_robot">

    <node name="my_robot_hw" pkg="ros_control_minimal_example" type="my_robot_hw" output="screen"/>

    <rosparam file="$(find ros_control_minimal_example)/config/my_robot_controllers.yaml" command="load"/>

    <node name="my_robot_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false"
          output="screen" args="spawn joint_state_controller trajectory_controller" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  </group>

</launch>
